input[type=range] {
  -webkit-appearance: none;
  margin: 30px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2AB638;
  border-radius: 45px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #A9D6AE;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2AB638;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2AB638;
  border-radius: 45px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #A9D6AE;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2AB638;
  border: 1px solid #8A8A8A;
  border-radius: 90px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2AB638;
  border: 1px solid #8A8A8A;
  border-radius: 90px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #A9D6AE;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2AB638;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2AB638;
}

.labelLeft {
  float: left;
  width: 33.3%;
  text-align: left;
  margin-bottom: 10px;
}

.labelMiddle {
  float:left;
  width: 33.3%;
  text-align: center;
}

.labelDiv {
  width: 100%;
}

.labelRight {
  float: left;
  width: 33.3%;
  text-align: right;
}
